<h1>Cameron and Us</h1>
<p>Our son Cameron took his own life in November 2014 aged just 21. He suffered from depression for seven years before he died, but managed to hide this from us and everyone who knew him. He seemed very happy at university and was planning to do a master’s degree. Outwardly he was always smiling and was always the one who was there to cheer everyone else up. </p>
<hr>
<p>We’ve learnt a lot about suicide since Cameron died, and the statistics are frightening. About ¾ of suicides are male and it is the biggest cause of death in the UK for boys and men under 50. 1 in 10 young people, or about 3 in every school classroom, are experiencing mental health problems at any given time and many people suffer in silence, as our son did. In 2013, there were 1769 road fatalities in the UK (roughly 5 a day), but more shockingly 6233 suicides (17 a day). There are many thousands more suffering from depression, self-harm and eating disorders.</p>
<hr>
<p>To mark Cameron’s life we established the Cameron Grant Memorial Trust in his name. The Trust is registered with the Charity Commission (see this link for details CAMERON GRANT MEMORIAL TRUST) and has Registered Number 1167221. Our Charitable objects are:</p>
<hr>
<p>The preservation and protection of good mental health in particular in young people by:</p>
<ul>
  <li>Raising awareness of young suicide</li>
  <li>Urging all who are suffering in silence to speak up and ask for help</li>
  <li>Supporting all who are fighting to overcome poor mental health, especially young people, and especially where this can be done through outdoor activities like hill-walking and Duke of Edinburgh’s Award</li>
  <li>Assisting in the provision of education and support that will help to increase awareness and knowledge of the issues around mental health and well-being for all and especially amongst young people</li>
</ul>
<p>Poor Mental Health can affect anyone and there is no shame in having an illness, physical or mental and seeking help for it. We hope that by spreading this message openly and honestly and providing support to young people through the Trust we can help many others in Cameron’s memory. We miss Cameron an unbelievable amount and we so wish that he had asked for help.</p>
<hr>
<p>We hope that we can make a difference in the numbers of young people suffering with mental health issues and improve outcomes for all sufferers.</p>
<hr>
<p>If you would like to help us, please contact us – we look forward to hearing from you.</p>
<hr>
<p>To see more pictures of Cameron doing the things he loved, please see About Cameron.</p>

<p><strong>Carol & Evan Grant</strong></p>
