<div class="banner">
  <%=image_tag "Tutto Ricco - Fresh Air.png", alt: "…"%>
  <div class="banner-text">
    <h6><strong>9 out of 10</strong> people say that the stigma of mental health problems have had a negative effect on their lives.
    <br>
    We think that’s <strong>too much.</strong>
    <br>
    Help us on <strong>our misson</strong> to <strong>destigmatise mental health.</strong>
    </h6>
    <button type="button" class="btn btn-success">Success</button>
  </div>
</div>
<div class="hope">
  <h6>If your struggling with you’re mental health, then please visit our the Hub of Hope, to find a local mental health service, that can help you.</h6>
  <a href="https://hubofhope.co.uk/"><%=image_tag "HOH.png", alt: "…", class: "hub-logo"%></a>
</div>

<div class="link-box">
</div>

<div class="midfullness">
  <%=image_tag "Kirsty's Wellbeing Postcard - front.jpg", alt: "…"%>
</div>
