<div class="banner">
  <%=image_tag "Tutto Ricco - Fresh Air.png", alt: "…"%>
  <div class="banner-text">
    <h6><strong>9 out of 10</strong> people say that the stigma of mental health problems have had a negative effect on their lives.
    <br>
    We think that’s <strong>too much.</strong>
    <br>
    Help us on <strong>our misson</strong> to <strong>destigmatise mental health.</strong>
    </h6>
    <button type="button" class="btn btn-success">Success</button>
  </div>
</div>

<div class="hope">
  <h6>If your struggling with you’re mental health, then please visit our the Hub of Hope, to find a local mental health service, that can help you.</h6>
  <a href="https://hubofhope.co.uk/"><%=image_tag "HOH.png", alt: "…", class: "hub-logo"%></a>
</div>

<div class="link-box">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-sm-12 link-card">
        <p>Cams' Coasters</p>
      </div>
      <div class="col-lg-4 col-sm-12 link-card">
        <p>Innovation Grants</p>
      </div>
      <div class="col-lg-4 col-sm-12 link-card">
        <p>Our Other Work</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-12 link-card">
        <p>Events</p>
      </div>
      <div class="col-lg-4 col-sm-12 link-card">
        <p>Fundraising</p>
      </div>
      <div class="col-lg-4 col-sm-12 link-card">
        <p>Cameron and Us</p>
      </div>
      <div class="row">
      </div>
    </div>
  </div>
</div>
<div class="mindfullness">
  <%=image_tag "Kirsty's Wellbeing Postcard - front.jpg", alt: "…"%>
</div>
