<div class="banner">
  <%=image_tag "Tutto Ricco - Fresh Air.png", alt: "…"%>
  <div class="centered-text">
    <h6><strong>9 out of 10</strong> people say that the stigma of mental health problems have had a negative effect on their lives.
    <br>
    We think that’s <strong>too much.</strong>
    <br>
    Help us on <strong>our misson</strong> to <strong>destigmatise mental health.</strong>
    </h6>
  </div>
</div>
