<h1>Cameron Grant Memorial Trust</h1>
<h2>Supporting Mental Health in Young People</h2>
<%=image_tag("/home/ali/code/aldo-g/CGMT/app/assets/images/Tutto Ricco - Fresh Air.png")%>
<h6><strong>9 out of 10</strong> people say that the stigma of mental health problems have had a negative effect on their lives.
<br>

We think that’s <strong>too much.</strong>
<br>
Help us on <strong>our misson</strong> to <strong>destigmatise mental health.</strong>
</h6>
