/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

   //drop down conent styling

  li {
    float: left;
    width: 100%
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111111;
  }
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
  text-align: center;
  background: linear-gradient(90deg, #F5B647 0%, #FFC000 100%);
  box-shadow: inset 0px -2px 0px #0081A7;
  color: white;
  font-size: 14px;
  width: 100%;
  left: 0;
  // margin-top: 100px;
}

.level-1{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(124, 124, 124);
  display: flex;
  justify-content: space-around;
}

.level-2b {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.level-2a {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.dropbtn-level2 {
  display: flex;
  padding: 16px;
  justify-content: center;

  p {
    margin-bottom: 0%;
  }

  svg {
      margin-left: 10px;
      margin-top: 3px;
    }
}

.dropbtn-level2:hover {

  background-color: #111111;


}
