.header {
  padding: 20px 60px;
  text-align: center;
  background: linear-gradient(90deg, #F5B647 0%, #FFC000 100%);
  box-shadow: inset 0px -2px 0px #0081A7;
  color: white;
  font-size: 30px;

}

/* Dropdown Button */
.dropbtn {
  color: rgb(255, 255, 255);
  padding: 16px;
  font-size: 36px;
  cursor: pointer;
  right: 0%;
  position: relative;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  color: rgb(0, 0, 0);
  transition-duration: 2s;
}



.shown-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
