.link-card{
  position: relative;
  text-align: center;
  border: double;
  height: 400px;
  padding: 0px !important;
  p {
      color: white;
      font-size: 20px;
      text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
    }
  img{
      // margin-top: 50px;
      // margin-bottom: 50px;
      object-fit: cover;
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%
  }
}

.link-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Card */

// position: absolute;
// width: 248px;
// height: 135.35px;
// left: 63px;
// top: 1983.65px;



/* How to request your version of Cameron's Coasters 0-1 screenshot 1 */

// position: absolute;
// left: 16.8%;
// right: 18.21%;
// top: 77.7%;
// bottom: 17.01%;

// background: linear-gradient(180deg, rgba(0, 0, 0, 0) 27.65%, #F5B647 97.4%),
// url(How to request your version of Cameron's Coasters 0-1 screenshot.png);
// filter: drop-shadow(5px 4px 0px #F5B647);
// border-radius: 10px;


/* Cameron and Us */

// position: absolute;
// width: 227.93px;
// height: 29.61px;
// left: 83.07px;
// top: 2089.39px;

// font-family: 'Roboto';
// font-style: normal;
// font-weight: 400;
// font-size: 20px;
// line-height: 134.99%;
/* or 27px */

// color: #FFFFFF;
